@font-face {
    font-family: 'plfont';
    src: url("plfont.ttf")
}

body {
    background-color: #371959;
    color: #f2ecdc;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.half {
    width: 40%;
    display: inline-block;
    text-align: center;
    justify-content: center;
    justify-items: center;
}

#left {
    float: left;
    margin-left: 8.5%;
    margin-top: 10%;
}

#right {
    float: right;
    margin-right: 8.5%;
    margin-top: 7.5%;
}

.pl-font {
    font-family: 'plfont'
}

h1 {
    padding-top: 4rem;
    font-size: 3.5rem;
}

h2 {
    font-weight: 300;
    padding-bottom: 2em;
}

h1, h2 {
    margin: 0 auto;
}

#list-container, #button-container, h1, h2 {
    text-align: center;
}

#rules {
    display: inline-block;
    text-align: left;
    line-height: 1.5em;
}

a:active {
    text-decoration: none;
}

#transfermarkt {
    color: #f2ecdc;
    font-weight: bold;
}

#guesses {
    display: inline-block;
    text-align: center;
    margin: 0 auto;
}

.row {
    border: 1px solid black;
    padding: 0 calc(10px + 0.5vw);
    vertical-align: middle;
    width: calc(300px + 5vw);
    margin: 2vh;
    
}

#searchbar {
    float: left;
}

.autocomplete {
    position: relative;
    display: inline-block;
    margin: 0 auto;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid black;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
    color: #f2ecdc
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #371959;
    color: #371959;
}

input {
    border: 1px solid #12071f;
    background-color: #371959;
    padding: 10px;
    font-size: 16px;
    color: #f2ecdc
}

#play {
    cursor: pointer;
    margin-top: 5rem;
    padding: 2rem 2rem;
    font-size: 3rem;
    font-family: 'plfont';
    border: 10px solid #fff4b8;
    border-radius: 3px;
    box-shadow: 0 20px #1c0c2e;
}

#replay-button {
    cursor: pointer;
    margin: 3vh auto 5vh auto;
    display: block;
    padding: 2rem 2rem;
    font-size: 2rem;
    font-family: 'plfont';
    border: 10px solid #fff4b8;
    border-radius: 3px;
    box-shadow: 0 20px #1c0c2e;
}

#play:active {
    box-shadow: 0 15px #1c0c2e;
    margin-top: 5.25rem;
}

#gamehud, #reveal-player {
    display: none;
}

#reveal-player {
    justify-content: center;
}

#reveal-button {
    cursor: pointer;
    margin: 3vh auto 5vh auto;
    display: block;
    padding: 1vw 1vw;
    font-size: 1rem;
    font-family: 'plfont';
    border: 10px solid #fff4b8;
    border-radius: 3px;
    box-shadow: 0 20px #1c0c2e;
}

#reveal-button:active {
    margin-top: 2rem;
    box-shadow: 0 15px #1c0c2e;
}

#secret-player {
    font-size: calc(12px + 2.75rem);
}

#player-name {
    font-size: calc(10px + 2.25rem);
    padding-bottom: 0;
}
#congrats {
    font-size: calc(8px + 1.75rem);
    padding-bottom: 0;
    display: none;
}

#player-image {
    margin-top: 2vh;
    width: calc(250px + 6vw);
}

.details-img {
    width: calc(25px + 4vw);
    padding: 0 calc(10px + 0.5vw);
    vertical-align: middle;
    margin: 2vh 0;
}

#position {
    font-family: 'plfont';
    font-size: calc(8px + 1.5rem);
}

@media screen and (max-width: 910px) {
    .half {
        width: 80%;
    }
    #right {
        float: none;
        text-align: center;
    }
    .inside-right {
        position: relative;
        border: 1px solid gray;
        display:inline-block;
    }
}